<% provide(:title, 'Editar Cliente') %>
<h1>Editar Cliente</h1>

<%= render 'form' ,nameButton: 'Actualizar Cliente'%>
<br><br><br>

<%= link_to 'Ver Cliente', @cliente , class:'btn btn-default btn-lg active',
            role:'button' %>
<%= link_to 'Listar Clientes', clientes_path , class:'btn btn-default btn-lg
active',
            role:'button'  %>

