<% provide(:title ,"Contactos") %>
<h1>Contactanos</h1>
<p style="text-align: center">
  Aplicacion Experimental como prueba de ingreso a
  <a href="http://www.biosoftca.com/web/" class="contactar">Biosoft C.A</a> <br>
  hecha por Ing. Jonathan Monsalve (j.jmonsalveg@gmail.com)
  para informacion de biosoft <a href="http://www.biosoftca.com/web/contacto.html"
                                 class="contactar" >contactanos</a>

</p>


