<div class="row">
  <div class="col-md-3">
    <%= image_tag 'bio-logo.png', alt: 'Logo Biosoft C.A' %>
  </div>

  <div class="col-md-6">
    <h1><%= title %></h1>
  </div>

  <div class="col-md-3">
    <h4 style="text-align: center">SIGEDS V1.0</h4> <br>
    <h5 style="margin-top: -10px; text-align: center">Sistema de Gestión de
      desarrollo de Software</h5>
  </div>
</div>

<hr>