<%= render 'shared/encabezado_personalizado', title: 'Gestión de Personal' %>
<%= link_to 'Nuevo Trabajador', new_personal_path ,
            class: "btn btn-primary btn-sm" %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr style="background: lightgrey">
        <%= render 'personals/personal_encabezado' %>
      </tr>
      </thead>
      <tbody>
        <%= render @personals,links:true %>
      </tbody>
    </table>
    <br>
  </div>
</div>