<% provide(:title, 'Crear Empleado') %>
<h1>Nuevo Empleado</h1>

<%= render 'form' , nameButton:"Crear Empleado" %>

<%= link_to 'Back', personals_path, class:"btn btn-default btn-lg active",
    role:"button" %>
