<footer class="footer">
  <small>
    SIGEDS version 1.0 experimental
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contactanos", contact_path %></li>
    </ul>
  </nav>
</footer>